.qr-code-canvas {
    border-radius: 10px;   
}

.download-qrcode-area {
    display: flex;
    margin-top: 10px;
    height: 40px;
}

.download-btn {
    width: 65%;
    min-width: 65%;
    height: 40px;
    background-color: transparent;
    color: #65B307;
    font-size: 16px;
    border: 2px solid #65B307;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
}

.download-btn:hover {
    color: #ffffff;
    background-color: #65B307;
}